// Colors
$primary-color: #000099;
$secondary-color: #6c757d;

// Fonts
$header-font: "Playfair Display", serif;
$body-font: "Montserrat", sans-serif;

// Spacing
$spacing-sm: 2px;
$spacing-md: 4px;
$spacing-lg: 8px;
